body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
  color: #6b8e23;
}

.section {
  padding: 80px 10%;
  text-align: center;
}

.light {
  background: #f9f7f2;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),
  url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1gQAmw6-QOCySUqqdUkyRG7ZurRMS8c8pjA&s");
  background-size: cover;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.logo {
  font-weight: bold;
}

.hero-text {
  margin-top: 150px;
}

.hero button {
  padding: 15px 35px;
  background: #b59b4c;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.hero button:hover {
  background: #9c843c;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,.1);
}

/* BENEFICIOS */
.beneficios {
  list-style: none;
  font-size: 18px;
}

/* WHATSAPP */
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  color: white;
  font-size: 30px;
  padding: 15px;
  border-radius: 50%;
}

/* FOOTER */
footer {
  background: #3e4b32;
  color: white;
  text-align: center;
  padding: 20px;
}

.card button {
  margin-top: 10px;
  padding: 10px;
  background: #6b8e23;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.card button:hover {
  background: #556b2f;
}

/* CARRITO */
.carrito {
  position: fixed;
  top: 100px;
  right: 20px;
  background: white;
  width: 260px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,.2);
  z-index: 1000;
}

.carrito ul {
  list-style: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

.carrito li {
  font-size: 14px;
  margin-bottom: 8px;
}

.carrito button {
  width: 100%;
  padding: 10px;
  background: #b59b4c;
  border: none;
  color: white;
  cursor: pointer;
}

.cantidad-controles {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-top: 5px;
}

.cantidad-controles button {
  padding: 4px 8px;
  border: none;
  background: #6b8e23;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
}

.cantidad-controles button.eliminar {
  background: #c0392b;
}
